# IDE
.idea
*.iml
*.ipr

# Vendor Files
/vendor/

# Test related Files
.phpunit.result.cache
.phpunit.cache

# Package Publication
composer.lock

# Environment Variables
.env
.env.*
!.env.example

# File Backups
**/*.bak
**/*.bakup
