<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" verbose="true" bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Live Integration Test">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="memory_limit" value="2048M" />
    </php>

</phpunit>
